<div class="challenge">
<h2>
  <%= image_tag challenge.poster.url(:thumb) %> 

  <%= link_to(challenge.title, challenge_path(challenge)) %> ·
  <%= link_to('Editar', edit_challenge_path(challenge), class: 'tool') %>
  <%= link_to('Borrar', challenge_path(challenge), method: :delete, class: 'tool', data: {confirm: 'Seguro?'}) %>
</h2>
</div>
